.BreadCrumbs{
  display: inline-flex;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: var(--Radius-M, 8px);
  background: rgba(199, 198, 192, 0.30);
  color: black;
  a{
    text-decoration: none;
    color: inherit;
    color: #007EB6;
    cursor: pointer;
      color: #007EB6;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 19.2px */
      text-transform: capitalize;
  }
  
  &.blackColor{
      a{
        &:last-of-type{
            color: black;
            span{
              color: black;
            }
        }
        .separator{
            color: black;
        }
      }
  } 
  a{
      .separator{
        a{
          color: white;
        }
        margin-left: 5px;
        margin-right: 5px;
      }
      &:last-of-type{
        span{
          color: white;
          span{
            color: white;
          }
        }
      }
    }
  
  
  
}