.BreadCrumbs{
  display: inline-flex;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: var(--Radius-M, 8px);
  background: rgba(199, 198, 192, 0.30);
  color: black;
  
  &.blackColor{
      div{
        &:last-of-type{
          color: black;
        }
      }
    
  } 
  div{
      cursor: pointer;
      color: #0093D5;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 19.2px */
      
      &:last-of-type{
        color: white;
      }
    }
  
  
  
}