.FirstSection{
  width: 100%;
  min-height: 100vh;
  float: left;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 40%;
  .Content{
    width: 60%;
    @media (max-width: '750px') {
      width: 100%;
    }
    h4,h3,h2{
      color:  #007EB6;
      font-family: "Roboto Serif";
    }
    h4{
      font-size: 24px;
      margin-top: 0px;
    }
    h3{
      color:  #007EB6;
      font-family: "Roboto Serif";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      margin-bottom: 0px;
    }
    p{
      text-align: justify;
      color: #000;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      strong{
        font-weight: 700;
      }
       img{
        max-width: 100% !important;
        height: auto !important;
      }
    }
    img{
      max-width: 100%;
    }
  }
}

.SecondSection{
  width: 100%;
  float: left;
  min-height: 400px;
  .Content{
    h3{
      font-family: "Roboto Serif";
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%; /* 45px */
      margin-top: 0px;
    }
    h4{
      font-family: "Roboto Serif";
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
    }
    p{
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 32px */
      text-align: justify;
      img{
        max-width: 100% !important;
        height: auto !important;
      }
    }
    img{
      max-width: 100%;
    }
    
  }
}

.ThirdSection{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  float: left;
  padding-top: 80px;

  .Content{
    img{
      float: none;
      margin: 0 auto;
      width: 100%;
      height: auto;
    }
    h2{
      font-family: "Roboto Serif";
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%; /* 45px */
      margin-top: 0px;
    }
    h4{
      font-family: "Roboto Serif";
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
    }
    p{
      text-align: justify;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 32px */
      img{
        width: 100% !important;
        max-width: 100% !important;
      }
    }
    img{
        width: 100% !important;
        max-width: 100% !important;
      }
    div{
       width: 100% !important;
        max-width: 100% !important;
      img{
        width: 100% !important;
        max-width: 100% !important;
      }
    }
    .wp-caption{
       width: 100% !important;
        max-width: 100% !important;
      img{
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
  div{
      img{
        width: 100% !important;
        max-width: 100% !important;
      }
    }
}