.RegionalDimensions{
  width: 100%;
  min-height: 68vh;
  background-color: #001C29;
  background-size: 50%;
  background-position: center right;
  background-repeat: no-repeat;
  color:white;
  p{
    color: var(--Colors-Pure-White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin-top: 20px;
  }
  a{
    font-weight: 400;
  }
}



.TraditionalSection{
  fill: rgba(217, 217, 217, 0.20);
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.40);
  cursor: pointer;
  backdrop-filter: blur(16px);
  background-color: rgba(217, 217, 217, 0.20);
  border: solid #7bb4ce 2px;
  border-radius: 20px;
  min-width: 280px;
  max-width: 280px;
  min-height: 240px;
  transition: 0.5s;
  @media (max-width: '400px') {
    min-width: 150px;
    max-width: 150px;
  }
  @media (max-width: '750px') {
    min-width: 170px;
    max-width: 150px;
    min-height: 170px;
    padding: 10px 5px !important;
    img{
      width: 45px;
    }
  }
  &:hover{
    backdrop-filter: blur(5px);
    background-color: rgba(217, 217, 217, 0.042);
  }
  p{
    @media (max-width: '750px') {
      font-size: 17px;
    }
    color: var(--Colors-Blue-50, #E0F5FF);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Roboto Serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    margin-top: 17px;
    margin-bottom: 0px;
  }
  &.Small{
    min-width: 160px;
    max-width: 160px;
    min-height: 190px;
    img{
      width: 45px;
    }
    p{
      font-size: 16px;
    }
  }
}

.HeroHeader{
  min-height: 60vh;
  padding: 60px 0px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  float: left;
  width: 100%;
  @media (max-width: '750px') {
    min-height: 80vh;
    background-position: right center;
  }
  h2{
    padding-left: 40px;
    background-image: url('../../../public/local/svg/simbol.svg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #FFF;
    font-family: "Roboto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 50vw;
    @media (max-width: '750px') {
      width: 100%;
      font-size: 1.3rem;
      max-width:100%;
    }
  }
  h1{
    color: #FFF;
    font-family: "Roboto Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 55.2px */
    max-width:45vw;
    @media (max-width: '750px') {
      width: 100%;
      max-width:100%;
      font-size: 2rem;
    }
  }
  .Excerpt{
    max-width: 55vw;
    @media (max-width: '750px') {
      width: 100%;
      max-width: 100%;
      font-size: 1.3rem;
    }
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 41.6px */
  }
  .HeroContent{
    height: 80vh;
    @media (max-width: '750px') {
      .TitleWithIcon, h2{
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.TrendingTopicSection{
  width: 100%;
  height: 383px;
  min-width: 310px;
  max-width: 310px;
  padding: 16px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #F3F3F2;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);

  .TrendingLink{
    .TrendingButton{
      float: right;
    }
  }
    h3{
      color: var(--Colors-Pure-Black, #000);
      font-family: "Roboto Serif";
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 26.4px */
    }
    p{
      color: var(--Colors-Pure-Black, #000);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%; /* 25.6px */
    }
}

.StoreisSection{
  width: 100%;
  height: 50%;
  min-height: 250px;
  padding: 10px 5px;
  &.main{
    height: 100%;
    min-height: 500px;
    .StoreisSectionContainer{
      .Content{
        width: 60%;
        padding: 20px 40px;
        h2{
          
          font-size: 28px;
        }
        @media (max-width: '750px') {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          h2{
            font-size: 22px;
          }
        }
      }
    }
  }
  
  .StoreisSectionContainer{
    width: 100%;
    height: 100%;
    background-size: 150%;
    transition: 3s ease-in-out;
    background-repeat: no-repeat;
    @media (max-width: '750px') {
      background-size: cover;
    }
    background-position: center center;
    border-radius: 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    &:hover{
      background-size: 200%;
    }
    >div{
      z-index: 10;
    }
    .Content{
      padding: 20px;
      color:white;
      @media (max-width: '750px') {
        padding: 30px;
        
      }
      h2{
        margin:0px;
        color: #FFF;
        font-size: 22px;
        font-family: "Roboto Serif";
        font-style: normal;
        font-weight: 700;
        @media (max-width: '750px') {
          font-size: 20px;
        }
      }
      p{
        margin:0px;
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%; /* 25.6px */
      }
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

.EventsSection{
  color: white;
  width: 100%;
  float: left;
  display: flex;
  min-height: 512px;
  background-size: cover;
  background-position: center center;
  mix-blend-mode: multiply;
  background-image: linear-gradient(90deg, rgb(5 29 97 / 88%) 5.19%, rgba(12, 43, 100, 0) 100%), url('../../../public/local/png/img-events.png');
  @media (max-width: '750px') {
    background-image: linear-gradient(180deg, #0C2B64 5.19%, rgba(12, 43, 100, 0.00) 99.96%) , url('../../../public/local/png/img-events.png');
    background-position: bottom center;
  }
  .EventsContent{
    h2{
      color: white;
      font-family: "Roboto Serif";
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
    p{
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%; /* 25.6px */
    }
    width: 45%;
    height: 100%;
    @media (max-width: '750px') {
      width: 100%;
    }
    button{
      font-weight: 400;
    }
  }
}


.NewsItem{
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  background:  #F3F3F2;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  &:hover{
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.45);
  }
  max-width: 300px;
  @media (max-width: '750px') {
    max-width: 90%;
    min-height: 405px;
  }
  min-height: 475px;
  padding: 12px;
  .NewsImage{
    width: 100%;
    height: 147px;
    border-radius: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .NewsContent{
    flex: 1;
    p{
      margin-top: 15px;
      margin-bottom: 10px;
    }
    h3{
      margin: 0px;
      font-family: "Roboto Serif";
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; 
      @media (max-width: '750px') {
        font-size: 24px;
      }
    }
  }
}

.NewsletterSection{
  width: 100%;
  min-height: 214px;
  position: relative;
  background-color: black;
  >div{height: 100%;
    >div{
      height: 100%;
      min-height: 214px;
    }}
  h4{
    color: #FFF;
    font-family: "Roboto Serif";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
    margin:0;
  }
  h5{
    margin:0;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 16px;
  }
  button{
    font-weight: 400;
  }
  .NewsImageBg{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: '750px') {
      display: none;
    }
  } 
  form{
    width: 100%;
    .InputForm{
      width: 30%;
      @media (max-width: '750px') {
        width: 60%;
      }
    }
    @media (max-width: '750px') {
      width: 100%;
      button{
        flex: 1;
      }
      input{
        flex: 1;
      }
    }
  }


}


// Category label (used for non-heading styled text)
.CategoryLabel{
    text-transform: capitalize;
    padding-left: 40px;
    background-image: url('../../../public/local/svg/simbol.svg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Roboto Serif";
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 50vw;
    margin: 0;
    @media (max-width: '750px') {
      width: 100%;
      max-width: 100%;
    }
}

.TitleWithIcon{
    text-transform: none;
    padding-left: 40px;
    background-image: url('../../../public/local/svg/simbol.svg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Roboto Serif";
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 50vw;
    @media (max-width: '750px') {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: '750px') {
    flex-direction: row;
    &.center{
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    align-items: flex-start;
    img{
      width: 40px;
    }
  }
}



.RelatedArticleItem{
  display: flex;
  min-width: 310px;
  max-width: 1328px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--Number-Scales-8s-56, 56px);
  align-self: stretch;
  border-radius: 16px;
  background: var(--Greyscale-Surface-Default, #F3F3F2);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  h3{
    margin:0px;
    color: var(--Colors-Pure-Black, #000);
    font-family: "Roboto Serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
  }
  p{
    margin: 0px;
    margin-top: 10px;
    font-family: Roboto;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; 
  }
  Button{
    padding: 5px;
    a{
      color: white
    }
  }
}

.ArticleItem{
  display: flex;
  max-width: 424px;
  min-height: 145px;
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  h3{
    margin:0px;
    font-family: "Roboto Serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  p{
    margin: 0px;
    margin-top: 10px;
    color: #353535;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  Button{
    padding: 5px;
    a{
      color: black
    }
  }
}

.RecomendedArticlesSection{
  padding: 60px;
  background: #F3F3F2;
  min-height: 400px;
}

.RelatedArticleLinkBox{
     background-color: #F3F3F2 ;
    color:#006CB0;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: left;
    width: 100%;
  .RelatedArticleLink{
    color:#006CB0;
    text-align: left;
    width: 100%;
    margin: 0px;
    h3{
      margin: 0px;
    }
  }
}


.EvidenceMapItem{
  border-radius: 16px;
  background: var(--Greyscale-Surface-Default, #F3F3F2);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  a{
    text-decoration: none;
    color: white;
  }
  h3{
    width: 100%;
    color: var(--Colors-Pure-Black, #000);
    font-family: "Roboto Serif";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
  }
  p{
    color: var(--Colors-Pure-Black, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
  }
}

.EvidenceMapsSection{
  width: 100%;
  float: left;
  background: #D5D5D5;
}

.MoreLink{
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;
  color:#0C2B64;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.PagesSection{
  width: 100%;
  padding: 60px 0;
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  > * {
    position: relative;
    z-index: 2;
  }
  
  .PageContainer {
    margin-bottom: 40px;
  }
}