.Hero{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  .eachSlide > div{
    height: 85vh;
    @media (max-width: '750px') {
      height: 100vh;
    }
    &::before{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
      width: 100%;
      height: 100%;
      @media (max-width: '750px') {
        transform: rotate(180deg);
        background: linear-gradient(0deg, rgba(0, 28, 41, 0.00) 9.74%, rgba(0, 28, 41, 0.51) 34.35%, #001c29ef 59.96%);
      }
     
    }
  }
}

.eachSlide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
  @media (max-width: '750px') {
    background-position: center center;
  }
}


.TrandingSliderContainer{
  overflow-x: hidden;
  width: 65%;
  max-width: 1150px;
  height: 100%;
  right: 0;
  position: absolute;
  @media (max-width: '750px') {
    width: 100%;
    margin-top: 300px;
  }
}

.TrandingCarrocelContainer{
  padding-inline: 16px;
  padding: 10px;
  width: 100%;
  .SliderItemContainer{
    padding: 20px 15px;
  }
}

.TrendingTopicSection{
  width:100%;
  height: 383px;
  padding: 16px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #F3F3F2;
  box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 31%);

  .TrendingLink{
    .TrendingButton{
      float: right;
    }
  }
    h3{
      color: var(--Colors-Pure-Black, #000);
      font-family: "Roboto Serif";
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 26.4px */
    }
    p{
      color: var(--Colors-Pure-Black, #000);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%; /* 25.6px */
    }
}


.TrandingSlider{
  position: absolute;
  left: 0px;
  .SliderItemContainer{
    overflow: visible;
    padding: 15px;
  }
  .Controlls{
    width: 5%;
    @media (max-width: '750px') {
      display: none;
    }
  }
}

.CountryRss{
  padding:40px 0px;
  background: linear-gradient(135deg, #ecd3ba, #6990c2);
  h4{
    font-family: "Roboto Serif";
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
}

// Category label (used for non-heading styled text)
.CategoryLabel{
  text-transform: capitalize;
  padding-left: 40px;
  background-image: url('../../../public/local/svg/simbol.svg');
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Roboto Serif";
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  max-width: 50vw;
  margin: 0;
  @media (max-width: '750px') {
    width: 100%;
    max-width: 100%;
  }
}

.TitleWithIcon{
  text-transform: capitalize;
  padding-left: 40px;
  background-image: url('../../../public/local/svg/simbol.svg');
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Roboto Serif";
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  max-width: 50vw;
  @media (max-width: '750px') {
    width: 100%;
    max-width: 100%;
  }
}