# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#tms_pdfs
/public/WHO_TMS_II

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

#tms_pdfs
/public/WHO_TMS_II

.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local.backup
.env.test.local.backup.2
.env.test.local.backup.3

#cacheThumbs
/public/thumbs

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#PM2 ecosystem
ecosystem.config.js
