.Float{
  width: 100%;
  float: left;
}

.MediaCaption{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #53524B;
}

.PostTitle{
  color: #006CB0;
  font-family: "Roboto Serif";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 55.2px */
  @media (max-width: '750px') {
    font-size: 28px;
  }
}
.PostSubtitle{
  color: var(--Colors-Pure-Black, #000);
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 41.6px */
  @media (max-width: '750px') {
    font-size: 24px;
  }
}
.PostFeaturedImage{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.MapDetails{
  h5{
    font-family: Roboto Serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    color: #006CB0; 
    margin-bottom: 10px; 
    margin-top: 0px;
  }
  hr{
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  p{
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-size:  1.3rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    b{
      font-family: Roboto;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 2rem;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

    }
  }
}
.CatAndFunctions{
  .functions{
    span{
      display: flex;
      align-items: center;
      direction: row;
      justify-content: center;
      gap: 10px;
      color: var(--Colors-Pure-Black, #000);
      cursor: pointer;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; 
      
    }
  }
}
.PostProps{
  border-top: solid #D3D3CF 1px;
  border-bottom: solid #D3D3CF 1px;
  margin-top: 10px;
  padding: 8px 15px;
  margin-bottom: 10px;
  color: var(--Colors-Pure-Black, #000);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
}

.PostPageSubtitle{
  color: #006CB0;
    font-family: "Roboto Serif";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 45px */
}

.PostContent{
  img{
    max-width: 100%;
    height: auto;
  }
  figure{
    max-width: 100% ;
  }
  a{
    max-width: 100%;
    color: light-dark(var(--mantine-color-blue-5));
  }
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; 
  margin-bottom: 100px;
  p{
    max-width: 100%;
    margin-bottom: 25px;
    color: var(--Colors-Pure-Black, #000);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; 
  }
  h3{
    color: #006CB0;
    font-family: "Roboto Serif";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 45px */
  }
}

.TitleWithIcon{
    text-transform: capitalize;
    padding-left: 40px;
    background-image: url('../../../public/local/svg/simbol.svg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Roboto Serif";
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 50vw;
    @media (max-width: '750px') {
      width: 100%;
      max-width: 100%;
    }
}
.NotFoundPage{
  p{
    color: var(--Colors-Pure-Black, #000);
    font-family: "Roboto Serif";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    b{
      font-weight: 700;
    }
  }
}

.tmgl_primary_button{
  color: white;
}

.tmgl_secondary_button{
  border:solid #0093d5 2px;
  color: #0093d5;
  background-color: #C2ECFF;
}

.JournalTitleContent{
  h1{
    font-family: Roboto Serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 55.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #006CB0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p{
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 41.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }
}

.JournalDetails{
  p{
    b{
      font-family: Roboto;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 26.4px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    a{
      color: #0093D5;
    }
  }
}

@media print {
  .HeaderContent{
    display: none !important;
    &.scrolled{
      display: none !important;
    }
  }
  .FooterLayout{
    display: none !important;
  }
}